.wrapper {
  margin-bottom: 1rem;
}

.input {
  padding: 0.8rem;
  width: 100%;
  display: block;
  font-size: 1rem;
  color: var(--text-color);
  background: var(--input-bg);
  border: 1px solid var(--input-bg);
  border-radius: 0.4rem;
  transition: 0.2s;
}

.input:focus,
.input:hover {
  background: var(--body-bg);
  border-color: var(--color-primary);
  box-shadow: 0 0 0 3px var(--color-primary-shadow);
  outline: none;
}

.label {
  padding-bottom: 0.5rem;
  display: block;
  font-size: 1rem;
  line-height: 1;
}

.error {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  color: var(--color-error);
}
