.button {
  padding: 0.3rem 0.6rem;
  font-size: 0.875rem;
  line-height: 1;
  font-family: var(--type-first);
  border: 1px solid transparent;
  background: #ddd;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: 0.1s;
}

.button:hover,
.button:focus {
  background: #fff;
  border-color: #333;
  box-shadow: 0 0 0 3px #eee;
  outline: none;
}
