.button {
  min-width: 8rem;
  padding: 0.8rem 1.2rem;
  box-sizing: border-box;
  font-family: var(--font-primary);
  font-size: 1rem;
  color: var(--color-primary-shade);
  background: var(--color-primary);
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: 0.1s;
}

.button:active,
.button:hover,
.button:focus {
  box-shadow: 0 0 0 3px var(--color-primary-shadow),
    0 0 0 4px var(--color-primary);
  outline: none;
}

.button:disabled,
.button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}
