.form {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: stretch;
  margin: 1rem;
}

.form textarea {
  display: block;
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  font-family: var(--type-first);
  resize: none;
  background: #eee;
  border: 1px solid #eee;
  border-radius: 0.2rem;
  transition: 0.2s;
}

.form textarea:focus,
.form textarea:hover {
  outline: none;
  border-color: #fb1;
  background: #fff;
  box-shadow: 0 0 0 3px #fea;
}

.form button {
  border: 0 none;
  cursor: pointer;
  color: #333;
  background: transparent;
  font-size: 1rem;
  padding: 0 1rem;
  overflow: hidden;
  outline: none;
}

.form button:hover svg path,
.form button:focus svg path {
  fill: #fea;
  stroke: #fb1;
}

.form button:hover svg g,
.form button:focus svg g {
  animation: latir 0.6s infinite;
}

@keyframes latir {
  from {
    opacity: 0;
    transform: scale(0.85);
    transform-origin: center;
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
