.photo {
  display: grid;
  grid-template-columns: 36rem 20rem;
  grid-template-rows: auto 1fr auto;
  margin: auto;
  height: 36rem;
  background: #fff;
  border-radius: 0.2rem;
  overflow: hidden;
  opacity: 0;
  transform: scale(0.8);
  animation: scaleUp 0.3s forwards;
}

@keyframes scaleUp {
  to {
    opacity: initial;
    transform: initial;
  }
}

.details {
  padding: 2rem 2rem 0 2rem;
}

.img {
  grid-row: 1 / 4;
}

.img img {
  object-fit: cover;
  height: 100%;
}

.comments {
  padding: 0 2rem;
}

@media (max-width: 64rem) {
  .photo {
    height: auto;
    max-height: calc(100vh - 4rem);
    overflow-y: auto;
    grid-template-columns: minmax(20rem, 40rem);
  }

  .img {
    grid-row: 1;
  }
}

.author {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  opacity: 0.5;
}

.author a:hover,
.author a:focus {
  text-decoration: underline;
}

.views::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 10px;
  margin-right: 0.5rem;
  background: url(../../assets/visualizacao-black.svg) no-repeat center center;
}

.attributes {
  display: flex;
  font-size: 1.125rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.attributes li {
  margin-right: 2rem;
}

.attributes li::before {
  content: "";
  display: inline-block;
  height: 20px;
  margin-right: 0.5rem;
  margin-top: 5px;
  position: relative;
  top: 3px;
  width: 2px;
  background: #444;
}
