.nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.nav a,
.nav button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background: var(--input-bg);
  border: 1px solid transparent;
  border-radius: 0.2rem;
  transition: 0.1s;
  cursor: pointer;
}

.nav a:active,
.nav a:hover,
.nav a:focus,
.nav button:active,
.nav button:hover,
.nav button:focus {
  background: var(--body-bg);
  border-color: var(--text-color);
  box-shadow: 0 0 0 3px var(--input-bg);
  outline: none;
}

.nav a:active svg > *,
.nav a:hover svg > *,
.nav a:focus svg > *,
.nav button:active svg > *,
.nav button:hover svg > *,
.nav button:focus svg > * {
  fill: var(--text-color);
}

.nav :global(a.active) {
  background: var(--body-bg);
  border-color: var(--color-primary);
  box-shadow: 0 0 0 3px var(--color-primary-shadow);
}

.nav :global(a.active) svg > * {
  fill: var(--color-primary);
}

.mobileButton {
  height: 2.5rem;
  width: 2.5rem;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--input-bg);
  border: 1px solid transparent;
  border-radius: 0.2rem;
  transition: 0.1s;
  cursor: pointer;
}

.mobileButton::after {
  content: "";
  width: 1.2rem;
  height: 2px;
  display: block;
  background: currentColor;
  border-radius: 2px;
  box-shadow: 0 6px currentColor, 0 -6px currentColor;
  transition: 0.2s;
}

.mobileButton:focus,
.mobileButton:hover,
.mobileButtonActive {
  color: var(--color-primary);
  background: var(--input-bg);
  border-color: var(--color-primary);
  box-shadow: 0 0 0 3px var(--color-primary-shadow);
  outline: none;
}

.mobileButtonActive::after {
  width: 4px;
  height: 4px;
  box-shadow: 0 8px currentColor, 0 -8px currentColor;
  transform: rotate(90deg);
}

.navMobile {
  position: absolute;
  padding: 0 1rem;
  top: 70px;
  right: 0px;
  display: block;
  background: var(--body-bg);
  border-radius: 0.2rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  transform: translateX(-10px);
  opacity: 0;
  pointer-events: none;
}

.navMobileActive {
  z-index: 100;
  opacity: 1;
  transform: initial;
  pointer-events: initial;
  transition: 0.3s;
}

.navMobile a,
.navMobile button {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  width: 100%;
  background: none;
  border: none;
  border-bottom: 1px solid var(--input-bg);
  cursor: pointer;
}

.navMobile a:hover svg > *,
.navMobile button:hover svg > * {
  fill: var(--color-primary);
}

.navMobile button {
  border-bottom: none;
}

.navMobile svg {
  margin-right: 0.5rem;
}
