.photo:nth-child(2) {
  grid-column: 2 / 4;
  grid-row: span 2;
}

@media screen and (max-width: 40rem) {
  .photo:nth-child(2) {
    grid-column: initial;
    grid-row: initial;
  }
}

.photo {
  display: grid;
  border-radius: 0.2rem;
  overflow: hidden;
  cursor: pointer;
}

.photo > div,
.photo .views {
  grid-area: 1 / 1;
}

.photo .views {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: #fff;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: 0.2s;
}

.photo .views::before {
  content: "";
  width: 16px;
  height: 10px;
  display: inline-block;
  margin-right: 0.25rem;
  background: url(../../assets/visualizacao.svg) no-repeat center center;
}

.photo:hover .views,
.photo:focus .views {
  opacity: 1;
}
