.footer {
  height: 10rem;
  padding: 3rem 1rem 0 1rem;
  text-align: center;
  color: var(--color-primary-shade);
  background: var(--color-primary);
}

.footer p {
  margin-top: 1rem;
}

.footer svg * {
  fill: var(--color-primary-shade);
}
