@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@700&family=Nunito:wght@400;700&display=swap");

:root {
  --font-primary: "Nunito", Helvetica, Arial, sans-serif;
  --font-secondary: "IBM Plex Serif", Georgia, serif;

  --body-bg: #fff;

  --text-color: #333;
  --text-color-light: #666;
  --text-color-lighter: #ddd;

  --color-primary: #ff5d9e;
  --color-primary-shade: #7c133d;
  --color-primary-shadow: #ff9fc5;
  --color-success: #37a80e;
  --color-error: #f31;

  --skeleton-color: #ddd;
  --skeleton-gradient: linear-gradient(90deg, #ddd 0, #fff 50%, #ddd 100%);

  --input-bg: #eee;
  --loading-bg: rgba(255, 255, 255, 0.5);
  --attributes-bg: #444;
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-bg: #333;

    --text-color: #fff;
    --text-color-light: #eee;
    --text-color-lighter: #888;

    --color-primary: #ff5d9e;
    --color-primary-shade: #7c133d;
    --color-primary-shadow: #bb4c78;
    --color-success: #4c8538;
    --color-error: #b8280f;

    --skeleton-color: #555;
    --skeleton-gradient: linear-gradient(90deg, #555 0, #333 50%, #555 100%);

    --input-bg: #555;
    --loading-bg: rgba(0, 0, 0, 0.5);
    --attributes-bg: #ddd;
  }
}

* {
  box-sizing: border-box;
}

body {
  padding-top: 4rem;
  margin: 0px;
  color: var(--text-color);
  font-family: var(--font-primary);
  background: var(--body-bg);
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  display: block;
  font-size: 1rem;
  font-family: var(--font-primary);
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.container {
  max-width: 50rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.main-container {
  margin-top: 2rem;
}

.title {
  margin: 1rem 0;
  position: relative;
  z-index: 1;
  font-family: var(--font-secondary);
  font-size: 3rem;
  line-height: 1;
}

.title::after {
  content: "";
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  bottom: 5px;
  left: -5px;
  background: var(--color-primary);
  border-radius: 0.2rem;
  z-index: -1;
}

@media screen and (max-width: 40rem) {
  .title {
    font-size: 2.5rem;
  }

  .title::after {
    width: 1.25rem;
    height: 1.25rem;
  }
}

.success {
  color: var(--color-success);
}

.error {
  margin: 1rem 0;
  color: var(--color-error);
}

.app {
  min-height: calc(100vh + 10rem);
  display: flex;
  flex-direction: column;
}

.app-content {
  flex: 1;
}

.VictoryContainer {
  height: initial !important;
}

.slideIn {
  opacity: 0;
  transform: translateX(-20px);
  animation: slideIn 0.3s forwards;
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: initial;
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.001ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.001ms !important;
  }
}
