.wrapper {
  display: grid;
}

.img {
  max-width: 100%;
  grid-area: 1 / 1;
  display: block;
  opacity: 0;
  transition: 0.2s;
}

.img img {
  object-fit: cover;
  height: 100%;
}

.skeleton {
  height: 100%;
  grid-area: 1 / 1;
  background-color: var(--skeleton-color);
  background-image: var(--skeleton-gradient);
  background-size: 200%;
  animation: skeleton 1.5s infinite linear;
}

@keyframes skeleton {
  from {
    background-position: 0;
  }

  to {
    background-position: -200%;
  }
}
