.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 2rem calc(4rem + 15px) 2rem 4rem;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8));
}

@media screen and (max-width: 40rem) {
  .modal {
    padding: 2rem calc(2rem + 15px) 2rem 4rem;
  }
}
